#tile{
	width: 100px;
	height: 100px;
	display: block;
	top: 100px;
}

#base{
	background: linear-gradient(to bottom right, #555555, #ffffff);
	width: 100%;
	height: 100%;
	position: relative;
}

#canvas{
	width: 100%;
	height: 100%;
}

/* -----< Containers and Divs go below | Textures and stuff go above >----- */

#icon{
	width: 200px;
	height: 200px;
	-webkit-filter: drop-shadow(0px 1px 1px rgba(0,0,0,1));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#000')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#000')";
}

#iconSettings{
	transform: translate(15px,50px);
	width: 170px;
	background: yellow;
	position: absolute;
}

#iconSettingsBlock{
	width: 100%;
	height: 140px;
	background: orange;
}

.setting{
	width: 100%;
	float: center;
	padding: 6px;
	color: #ff9900;
	font-family: Calibri;
	font-weight: bold;
	text-align: center;
	font-size: 24px;
	text-shadow: 0 -1px #000000;
}

.setting:hover{
	-webkit-box-shadow:inset 0px 0px 4px 2px #ff9900;
    -moz-box-shadow:inset 0px 0px 4px 2px #ff9900;
}

#iconContainer{}

#viewPort{
	background-color: #000000;
	width: calc(100% - 400px);
	height: calc(100% - 200px);
	float: left;
	overflow: hidden;
}

#resetViewPort{
	width: 50px;
	height: 50px;
	float: right;
	margin: 5px;
}

#toolbar{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	pointer-events:none;
}

#leftInfo{
	background-color: #ff0000;
	width: 200px;
	height: calc(100% - 200px);
	float: left;
}

#centerInfo{
	background-color: #00ff00;
	width: 100%;
	height: 200px;
	float: left;
}

#rightInfo{
	background-color: #0000ff;
	width: 200px;
	height: calc(100% - 200px);
	float: right;
}

#topInfo{
	background-color: #0ffff0;
	width: 100%;
	height: 200px;
}

#container{
	height: 100%;
	width: 100%;
	display: inline-block;
}

.slectable{
	-webkit-user-select: all;
	-moz-user-select: all;
	user-select: all;
}

#backgroundAnimator{
	background: #000000;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#loadingCenter{
	width: 512px;
	height: 512px;
	position: absolute;
	top: calc(50% - 256px);
	left: calc(50% - 256px);
	pointer-events: none;
}

.loadingIcon{
	position: absolute;
	width: 512px;
	height: 512px;
	top:0;
	left:0;
}

#percentLoaded{
	position: relative; 
	width: 10%; 
	height: 100%; 
	overflow: hidden;
}

#bottomBlock{
	position: absolute;
	width: calc(100% - 400px);
	background: red;
	height: 30px;
	top: calc(100% - 230px);
}

#chatBox{
	position: absolute;
	top: calc(100% - 400px);
	left: 200px;
	width: 300px;
	height: 200px;

	overflow: hidden;
	pointer-events: none;
}

#chatLog{
	width: 100%;
	position: absolute;
	pointer-events: none;
	background: rgba(0,0,0,0), rgba(0,0,0,.5)); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5))); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5))); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.25))); /* Standard syntax */
}

#chatInput{
	background-color: #bfbdbd;
	border: solid 1px #bfbdbd;
	color: #000000;
	height: 30px;
	width: 300px;
	box-shadow: 0px 0px 4px #828181 inset;
	padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	top: calc(100% - 30px);
}

.chatMessage{
	color: #ff9900;
	font-family: Calibri;
	font-weight: bold;
	font-size: 18px;
	text-shadow: 0 -1px #000000;
	width: 100%;
}

*{
	/*border:1px dashed blue;
	/* ^ Only for testing element boxes ^ */
	margin: 0;
	padding: 0;
	cursor: default;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	user-drag: none; 
	-webkit-user-drag: none;
	-ms-user-select: none;
	word-wrap: break-word;
}
